# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Local data outputs
/data/**
!/data/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log
